<footer>
	<hr>
	<div class="columns">
		<div class="column-2">
			<h2>ABOUT ME</h2>
			<ul>
			<li>paula / pau (she/her)</li>
			<li>designer + visual artist</li>
			<li>earning those €€€ as user experience & user interface designer <a href="https://paulahaertel.com/" target="_blank">[click here]</a></li>
			<li>likes: making simple websites and zines, learning about design and typography, cooking for people, practicing yoga, intersectional feminism, anticapitalism, sociology, psychology.</li>
			<li>listening to: <a href="https://www.youtube.com/watch?v=bBRoT5JlBP4" target="_blank">&#8599; Men I Trust: Untourable Album</a> <a href="https://www.youtube.com/watch?v=NzTzGWWKevA" target="_blank">&#8599; Windows 96: Reflections</a> <a href="https://soundcloud.com/headsradioberlin/roza-terenzi-heads-radio-0030" target="_blank">&#8599; Rosa Terenzi @ Heads Radio 0030</a></li>
			</ul>
		</div>
		<div class="column-2">
			<h2>Stay In Touch</h2>
			<p>thank you for visiting! this is a neocities website. <a href="https://neocities.org/site/paupowpow" target="_blank">&#8599; follow me on neocities</a> to catch updates to the site.</p>
			<p>if you want to link to my site, you can use this button. i commit to keeping the button link active, but it's still safer to download it and re-upload it yourself.</p>
			<img src="./paupowpow-button.png">
			<p>you can also find me on <a href="https://post.lurk.org/@paupowpow" target="_blank">&#8599; mastodon</a> and <a href="https://www.instagram.com/paupowpow/" target="_blank">&#8599; instagram</a>.</p>
		</div>
	</div>	

	<div class="link-footer">
		<hr>
		<div class="columns">
			<div class="column-4">
				<div class="yw-widget-full" data-yw-url="https://paupowpow.neocities.org/"></div>
				<script src="https://yesterweb.org/js/widget.js"></script>                      
			</div>
		
			<div class="column-4">
				<p class="show-on-small">_,.-'~'-.,__,.-'~'-.,__,.-'~'-.,_</p>
				<p>GEEKRING <br> <a href="http://geekring.net/site/210/previous"><<<</a> :: <a href="http://geekring.net/site/210/random">???</a> :: <a href="http://geekring.net/site/210/next">>>></a></p>
			</div>
			
			<div class="column-4">
				<p class="show-on-small">_,.-'~'-.,__,.-'~'-.,__,.-'~'-.,_</p>
				<p>NULL WEBRING</p>
				<script src="https://nuthead.neocities.org/ring/ring.js"></script> 
			</div>
			
			<div class="column-4">
				<p class="show-on-small">_,.-'~'-.,__,.-'~'-.,__,.-'~'-.,_</p>
				<p>HOTLINE WEBRING <br> <a href="https://hotlinewebring.club/paupowpow/previous"><<<</a> :: <a href="https://hotlinewebring.club/paupowpow/next ">>>></a></p>
			</div>
		</div>
	</div>
</footer>