<header>
	<h1><a class="headerlink" href="{{ '/' | url }}">paupowpow</a></h1>
	<nav>
		<div class="navsection">
			<span class="title">Art</span>
			{%- for project in collections.artProjects %}
				<a href="{{ project.page.url }}">{{ project.data.title }}</a>
			{%- endfor -%}
		</div>
		<div class="navsection">
			<span class="title">Other</span>
			{%- for project in collections.otherProjects %}
				<a href="{{ project.page.url }}">{{ project.data.title }}</a>
			{%- endfor -%}
		</div>
	</nav>
</header>

