<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	
	<meta name="description" content="_,.-'~'-.,_kid pix art & other stuff_,.-'~'-.,_">
	<meta name="keywords" content="">
	<meta name="author" content="paupowpow">
	
	<!--  Essential META Tags -->
	<meta property="og:title" content="paupowpow">
	<meta property="og:type" content="website" />
	<meta property="og:image" content="/images/kidpix/kidpix03294.png">
	<meta property="og:url" content="https://paupowpow.neocities.org/">
	<meta name="twitter:card" content="summary_large_image">

	<!--  Non-Essential, But Recommended -->
	<meta property="og:description" content="_,.-'~'-.,_kid pix art & other stuff_,.-'~'-.,_">
	<meta property="og:site_name" content="paupowpow">
	<meta name="twitter:image:alt" content="kidpix03294.png">
	
	<link rel="icon" href="/images/favicon/favicon.ico">
	<link rel="mask-icon" href="/images/favicon/mask-icon.svg" color="#000000">
	<link rel="apple-touch-icon" href="/images/favicon/apple-touch-icon.png">
	
	<title>paupowpow</title>
	<link href="/fonts.css" rel="stylesheet" type="text/css" media="all">
	<link href="/style.css" rel="stylesheet" type="text/css" media="all">
</head>
<body>

	{% include "headernav.njk" %}
	
	<!--<a class="featured" title="kidpix03294.png" href="./kidpix.html#03294">-->
	<img class="featured start-image" src="./images/kidpix/kidpix03294.png">
	<!--</a>-->

	<main id='content'>		
		<div class="columns">
			<div class="column-2">
				<h2>ABOUT ME</h2>
				<ul>
				<li>paula / pau (she/her)</li>
				<li>designer + visual artist</li>
				<li>earning those €€€ as user experience & user interface designer <a href="https://paulahaertel.com/" target="_blank">[click here]</a></li>
				<li>likes: making simple websites and zines, learning about design and typography, cooking for people, practicing yoga, intersectional feminism, anticapitalism, sociology, psychology.</li>
				<li>listening to: <a href="https://www.youtube.com/watch?v=bBRoT5JlBP4" target="_blank">&#8599; Men I Trust: Untourable Album</a> <a href="https://www.youtube.com/watch?v=NzTzGWWKevA" target="_blank">&#8599; Windows 96: Reflections</a> <a href="https://soundcloud.com/headsradioberlin/roza-terenzi-heads-radio-0030" target="_blank">&#8599; Rosa Terenzi @ Heads Radio 0030</a></li>
				</ul>
			</div>
			<div class="column-2">
				<h2>Stay In Touch</h2>
				<p>thank you for visiting! this is a neocities website. <a href="https://neocities.org/site/paupowpow" target="_blank">&#8599; follow me on neocities</a> to catch updates to the site.</p>
				<p>if you want to link to my site, you can use this button. i commit to keeping the button link active, but it's still safer to download it and re-upload it yourself.</p>
				<img src="./paupowpow-button.png">
				<p>you can also find me on <a href="https://post.lurk.org/@paupowpow" target="_blank">&#8599; mastodon</a> and <a href="https://www.instagram.com/paupowpow/" target="_blank">&#8599; instagram</a>.</p>
			</div>
		</div>	

		<div class="link-footer">
			<hr>
			<!--<p>_,.-'~'-.,__,.-'~'-.,__,.-'~'-.,__,.-'~'-.,__,.-'~'-.,__,.-'~'-.,_</p>-->
			<div class="columns">
				<div class="column-4">
					<div class="yw-widget-full" data-yw-url="https://paupowpow.neocities.org/"></div>
					<script src="https://yesterweb.org/js/widget.js"></script>                      
				</div>
			
				<div class="column-4">
					<p class="show-on-small">_,.-'~'-.,__,.-'~'-.,__,.-'~'-.,_</p>
					<p>GEEKRING <br> <a href="http://geekring.net/site/210/previous"><<<</a> :: <a href="http://geekring.net/site/210/random">???</a> :: <a href="http://geekring.net/site/210/next">>>></a></p>
				</div>
				
				<div class="column-4">
					<p class="show-on-small">_,.-'~'-.,__,.-'~'-.,__,.-'~'-.,_</p>
					<p>NULL WEBRING</p>
					<script src="https://nuthead.neocities.org/ring/ring.js"></script> 
				</div>
				
				<div class="column-4">
					<p class="show-on-small">_,.-'~'-.,__,.-'~'-.,__,.-'~'-.,_</p>
					<p>HOTLINE WEBRING <br> <a href="https://hotlinewebring.club/paupowpow/previous"><<<</a> :: <a href="https://hotlinewebring.club/paupowpow/next ">>>></a></p>
				</div>
			</div>
		</div>
	</main>
	 	
	{% include "footer.njk" %}
</body>
</html>
