<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	
	<meta name="description" content="_,.-'~'-.,_kid pix art & other stuff_,.-'~'-.,_">
	<meta name="keywords" content="">
	<meta name="author" content="paupowpow">
	
	<!--  Essential META Tags -->
	<meta property="og:title" content="paupowpow">
	<meta property="og:type" content="website" />
	<meta property="og:image" content="/images/kidpix/kidpix03294.png">
	<meta property="og:url" content="https://paupowpow.neocities.org/">
	<meta name="twitter:card" content="summary_large_image">

	<!--  Non-Essential, But Recommended -->
	<meta property="og:description" content="_,.-'~'-.,_kid pix art & other stuff_,.-'~'-.,_">
	<meta property="og:site_name" content="paupowpow">
	<meta name="twitter:image:alt" content="kidpix03294.png">
	
	<link rel="icon" href="/images/favicon/favicon.ico">
	<link rel="mask-icon" href="/images/favicon/mask-icon.svg" color="#000000">
	<link rel="apple-touch-icon" href="/images/favicon/apple-touch-icon.png">
	
	<title>paupowpow</title>
	<link href="/fonts.css" rel="stylesheet" type="text/css" media="all">
	<link href="/style.css" rel="stylesheet" type="text/css" media="all">
</head>
<body>

	{% include "headernav.njk" %}
	
	<!--<a class="featured" title="kidpix03294.png" href="./kidpix.html#03294">-->
	<img class="featured start-image" src="./images/kidpix/kidpix03294.png">
	<!--</a>-->

	<main id='content'>		
		
	</main>
	 	
	{% include "footer.njk" %}
</body>
</html>
